@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-light-bg: #f8f9fa;
  --color-light-card: #e9ecef;
  --color-light-border: #dee2e6;
  --color-light-disabled: #ced4da;
  --color-light-accent: #ad858d;
  --color-light-secondary-text: #6c757d;
  --color-light-body-text: #495057;
  --color-light-header: #343a40;
  --color-light-nav: #212529;
 
  --color-light-btn-bg: #ad858d;
  --color-light-btn-text: #ffffff;
  --color-light-btn-hover-bg: #966e77;
  --color-light-btn-hover-text: #ffffff;

  --color-dark-bg: #1a1a1a;
  --color-dark-card: #282828;
  --color-dark-border:rgb(49, 49, 49);
  --color-dark-disabled: #8a8a8a;
  --color-dark-accent: #d4a373;
  --color-dark-secondary-text: #9e9e9e;
  --color-dark-body-text: #eeeeee;
  --color-dark-header: #0d0d0d;

  --color-dark-btn-bg: #d4a373;
  --color-dark-btn-text: #000000;
  --color-dark-btn-hover-bg: #b87c45;
  --color-dark-btn-hover-text: #ffffff;
}
@layer base {
  li {
    @apply text-light-accent hover:text-light-btn-hover-bg cursor-pointer text-xs dark:text-white;
  }
  button{
    @apply bg-light-btn-bg text-light-btn-text hover:bg-light-btn-hover-bg hover:text-light-btn-text cursor-pointer;
    font-family:verdana;
  }
  p{
    font-family:helvetica;
    @apply text-light-body-text dark:text-dark-body-text text-xs;
  }
  span{
    @apply flex flex-col items-center justify-center gap-1 mt-1
  }
   * {
    font-family:georgia,serif;
    overflow-x: hidden;
  }
  body{
    @apply bg-light-bg dark:bg-dark-bg;

  }
}

